In [1]:
# Mod 14 CS I

In [2]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("bio-degradabale-data.csv", sep=';', header=None)
data.shape

(1055, 42)

In [4]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,2.949,1.591,0,7.253,0,0,RB
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,3.315,1.967,0,7.257,0,0,RB
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,1,3.076,2.417,0,7.601,0,0,RB
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,1,3.046,5.000,0,6.690,0,0,RB
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,3.351,2.405,0,8.003,0,0,RB

In [5]:
data.describe()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
count,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000,...,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000,1055.000000
mean,4.782644,3.069508,0.716588,0.042654,0.980095,0.290047,1.646445,37.055640,1.376303,1.803791,...,0.129858,0.883412,1.274882,0.961137,3.918240,2.558417,0.686256,8.629492,0.051185,0.723223
std,0.546916,0.831308,1.462452,0.256010,2.332955,1.073771,2.224822,9.144466,1.963521,1.775435,...,0.644057,1.520467,2.273994,1.257013,0.999602,0.642765,1.090389,1.241986,0.318970,2.239286
min,2.000000,0.803900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,2.267000,1.467000,0.000000,4.917000,0.000000,0.000000
25%,4.481000,2.502750,0.000000,0.000000,0.000000,0.000000,0.000000,30.450000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,3.487500,2.103000,0.000000,7.991000,0.000000,0.000000
50%,4.828000,3.046300,0.000000,0.000000,0.000000,0.000000,1.000000,37.500000,1.000000,2.000000,...,0.000000,0.000000,0.000000,1.000000,3.726000,2.458000,0.000000,8.499000,0.000000,0.000000
75%,5.125000,3.437650,1.000000,0.000000,1.000000,0.000000,3.000000,43.400000,2.000000,3.000000,...,0.000000,1.000000,2.000000,2.000000,3.987000,2.870500,1.000000,9.020500,0.000000,0.000000
max,6.496000,9.177500,12.000000,3.000000,36.000000,13.000000,18.000000,60.700000,24.000000,12.000000,...,8.000000,12.000000,18.000000,7.000000,10.695000,5.825000,8.000000,14.700000,4.000000,27.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 42 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1055 non-null   float64
 1   1       1055 non-null   float64
 2   2       1055 non-null   int64
 3   3       1055 non-null   int64
 4   4       1055 non-null   int64
 5   5       1055 non-null   int64
 6   6       1055 non-null   int64
 7   7       1055 non-null   float64
 8   8       1055 non-null   int64
 9   9       1055 non-null   int64
 10  10      1055 non-null   int64
 11  11      1055 non-null   float64
 12  12      1055 non-null   float64
 13  13      1055 non-null   float64
 14  14      1055 non-null   float64
 15  15      1055 non-null   int64
 16  16      1055 non-null   float64
 17  17      1055 non-null   float64
 18  18      1055 non-null   int64
 19  19      1055 non-null   int64
 20  20      1055 non-null   int64
 21  21      1055 non-null   float64
 22  22      1055 non-null   int64
 23  23      1055 non-null   int64
 24  24      1055 non-null   int64
 25  25      1055 non-null   int64
 26  26      1055 non-null   float64
 27  27      1055 non-null   float64
 28  28      1055 non-null   int64
 29  29      1055 non-null   float64
 30  30      1055 non-null   float64
 31  31      1055 non-null   int64
 32  32      1055 non-null   int64
 33  33      1055 non-null   int64
 34  34      1055 non-null   int64
 35  35      1055 non-null   float64
 36  36      1055 non-null   float64
 37  37      1055 non-null   int64
 38  38      1055 non-null   float64
 39  39      1055 non-null   int64
 40  40      1055 non-null   int64
 41  41      1055 non-null   object
dtypes: float64(17), int64(24), object(1)
memory usage: 346.3+ KB

In [7]:
#Assinging features and dependent variables
X = data.iloc[:, 0:41]
y = data[41]

In [8]:
X.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,3.919,2.6909,0,0,0,0,0,31.4,2,0,...,0,0,0,0,2.949,1.591,0,7.253,0,0
1,4.170,2.1144,0,0,0,0,0,30.8,1,1,...,0,0,0,0,3.315,1.967,0,7.257,0,0
2,3.932,3.2512,0,0,0,0,0,26.7,2,4,...,0,0,0,1,3.076,2.417,0,7.601,0,0
3,3.000,2.7098,0,0,0,0,0,20.0,0,2,...,0,0,0,1,3.046,5.000,0,6.690,0,0
4,4.236,3.3944,0,0,0,0,0,29.4,2,4,...,0,0,0,0,3.351,2.405,0,8.003,0,0

In [9]:
y.unique()

array(['RB', 'NRB'], dtype=object)

In [10]:
#Scaling
from sklearn.preprocessing import MinMaxScaler
scalar = MinMaxScaler()
X_scaled = pd.DataFrame(scalar.fit_transform(X))
X_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,31,32,33,34,35,36,37,38,39,40
0,0.426824,0.225351,0.0,0.0,0.0,0.0,0.0,0.517298,0.083333,0.000000,...,0.0,0.0,0.0,0.000000,0.080921,0.028453,0.0,0.238782,0.0,0.0
1,0.482651,0.156504,0.0,0.0,0.0,0.0,0.0,0.507414,0.041667,0.083333,...,0.0,0.0,0.0,0.000000,0.124347,0.114732,0.0,0.239190,0.0,0.0
2,0.429715,0.292264,0.0,0.0,0.0,0.0,0.0,0.439868,0.083333,0.333333,...,0.0,0.0,0.0,0.142857,0.095990,0.217990,0.0,0.274353,0.0,0.0
3,0.222420,0.227608,0.0,0.0,0.0,0.0,0.0,0.329489,0.000000,0.166667,...,0.0,0.0,0.0,0.142857,0.092430,0.810693,0.0,0.181233,0.0,0.0
4,0.497331,0.309365,0.0,0.0,0.0,0.0,0.0,0.484349,0.083333,0.333333,...,0.0,0.0,0.0,0.000000,0.128619,0.215236,0.0,0.315445,0.0,0.0

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, random_state=40, test_size=.30)

In [12]:
#Fitting the Logistic Regression
logReg = LogisticRegression()
logReg.fit(X_train, y_train)
y_pred = logReg.predict(X_test)

print(metrics.accuracy_score(y_pred, y_test))

0.8706624605678234

In [13]:
#Applying CrossValidation with CV =10
print(cross_val_score(LogisticRegression(), X_scaled, y, cv=10, scoring='accuracy').mean())

0.8321203953279426